<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no">
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<title>立刻购买</title>
	<!-- Bootstrap -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/grid.css" rel="stylesheet">
	<link href="css/module.css" rel="stylesheet">
	<link href="css/unit.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body class="style_col">
	<div class="g-hd">
        <a class="u-ff3" href="">&lt;</a>
		确认订单		
    </div>
    <div class="g-bd">
		<!--收货地址-->
        <div class="m-address u-bg1">
			<h1 class="g-p-auto">收件人信息</h1>
			<div class="m-step">
				<b class="m-borderT"></b>
				<b class="m-borderB"></b>
				<div class="m-new">
					<div class="m-name g-fl">收件人：海尔森菲利斯</div>
					<div class="m-phone g-fr">13512345678</div>
				</div>
				<div class="m-ads">
					<span class="g-pa">收货地址：</span><span class="dizhi">天河区体育西路维多利广场写字楼A座1006鑫亚集团啊</span>
				</div>
				<span class="m-point"></span>
			</div>
		</div>
        <!--/收货地址-->
        <!--商品详情-->
        <div class="m-tt3 u-borderT">
            <img src="images/img_03.png">
            看了又看
        </div>
        <div class="u-bg1 u-borderT clearfix g-padding">
            <div class="m-box">
                <div class="g-fl">
                    <div class="img">
                        <img src="images/4.jpg">
                    </div>
                </div>
                <div class="txt">
                    <h3>名字部分如果一行显示不撒旦阿斗阿斗完就用省略号…</h3>
                    <div>
                        <i class="u-seckill u-seckill-bg1">鑫币价</i>
                        <i class="u-seckill u-seckill-bg2">红利抵扣</i>
                        <i class="u-seckill u-seckill-bg2">返红利</i>
                    </div>
                    <p class="u-fc"><span>￥</span><span ng-model="unit_price">100.00</span></p>
                    <span class="num">×1</span>
                </div>
            </div>
        </div>
        <!--/商品详情-->
        <!--价格合计-->
        <div ng-app="myApp" ng-controller="costCtrl">
            <div class="g-p-auto clearfix m-number u-borderT">
                <span class="u-fc2 u-fs14 g-fl">数量</span>
                <div class="g-fr g-m-top-8">
                    <span class="u-btn g-fl" ng-click="remove(number);">-</span>
                    <span class="u-btn u-btn2 g-fl" id="number" ng-model="number">{{ number }}</span>
                    <span class="u-btn g-fl" ng-click="number = number + 1">+</span>
                </div>
            </div>
            <div class="g-p-auto clearfix m-number">
                <a href="" class="g-ds clearfix">
                    <div class="g-fl u-fc2 u-fs14">
                        配送方式
                    </div>
                    <div class="g-fr u-fs14 u-fc3">快递 ¥<span ng-model="ed">10.00</span><span class="u-ff3 g-paddingF5">&gt;</span></div>
                </a>
            </div>
            <div class="g-p-auto clearfix m-number">
                <span class="g-fr u-fs14 u-fc3">合计：<i class="u-fc">￥</i><i class="u-fc">100.00</i></span>
                <span class="g-fr u-fs14 u-fc3 g-paddingR15">共一件商品</span>
            </div>
            <div class="g-h-bg"></div>
            <div class="g-p-auto clearfix m-number u-borderT" id="Deductible" ng-click="total();">
                <div class="g-fl u-fc3 u-fs14">
                    可用200点红利抵扣 ¥<span class="Deductible" ng-model="discount">2.00</span>
                </div>
                <span class="u-icon u-icon-img g-fr g-marginT10"></span>
            </div>
            <div class="g-p-auto clearfix m-number g-m-bt50">
                <div class="g-fl u-fc3 u-fs14">
                    可获得红利
                </div>
                <div class="g-fr u-fs14 u-fc3">200点</div>
            </div>
            <div class="m-total g-ft">
                <div class="g-fl u-fc3 u-fs16">
                    合计：<i class="u-fc">￥</i><span class="u-fc total">{{ total() | number:2}}</span>
                </div>
                <a class="m-payb-btn u-fs16">确认</a>
            </div>
        </div>
        <!--/价格合计-->
	</div>
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/angular.js"></script>
    <script>
        $("#Deductible").click(function () {
            if($(this).hasClass('active') == false){
                $(this).addClass("active");
            }else{
                $(this).removeClass("active");
            }
        })
        var app = angular.module('myApp', []);
        app.controller('costCtrl', function($scope) {
            $scope.unit_price = 1310.01;
            $scope.number = 6;
            $scope.ed = 10.00;
			$scope.discount = 2.00;
            $scope.total = function () {
				if($("#Deductible").hasClass('active') == true){
					return ($scope.unit_price  * $scope.number + $scope.ed + $scope.discount);
				}else{
					return ($scope.unit_price  * $scope.number + $scope.ed);
				}
            };
            $scope.remove = function(index){
                if(index == 1){
                    $scope.number = 1;
                    return index;
                }else{
                    $scope.number--;
                }
            };
			$scope.total();
        });
    </script>
	<script>
		$('#myTabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
	</script>
</body>
</html>